<footer class="pt-5">
  <h4 class="text-center text-primary footer-title">Tasty Drink</h4>
  <h5 class="text-center text-white footer-description">Drink Store & Bar</h5>
  <div class="text-center">
    <!-- divisor -->
    <div class="divisor divisor-sm"></div>
    <div class="social-networks d-flex justify-content-between mx-auto">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
  <div>
    <ul class="nav justify-content-center d-flex flex-column align-items-center flex-lg-row">
      <li class="nav-item m-3">
        <a href="#" class="nav-link text-primary">Our Story</a>
      </li>
      <li class="nav-item m-3">
        <a href="#" class="nav-link text-primary">The team</a>
      </li>
      <li class="nav-item m-3">
        <a href="#" class="nav-link text-primary">Menu Drink</a>
      </li>
      <li class="nav-item m-3">
        <a href="#" class="nav-link text-primary">Menu Eats</a>
      </li>
      <li class="nav-item m-3">
        <a href="#" class="nav-link text-primary">Shop</a>
      </li>
      <li class="nav-item m-3">
        <a href="#" class="nav-link text-primary">Contact</a>
      </li>
    </ul>

    <!-- button reservation -->
    <div class="reservation text-center my-4">
      <a href="#" class="btn btn-primary">Make Reservation</a>
    </div>

    <!-- Address -->
    <div class="container w-lg-50 mt-5">
      <div class="row text-primary d-flex justify-content-center">
        <article class="col-12 mb-4 col-sm-6 col-md-6 col-lg-6 mb-6 text-center">
          <h4 class="footer-titles">Location</h4>
          <p class="text-white">34 av. du Pont</p>
          <p class="text-white">34RE3G</p>
          <p class="text-white">Vancouver</p>
        </article>

        <article class="col-12 mb-4 col-sm-6 col-md-6 col-lg-6 mb-6 text-center">
          <h4 class="footer-titles">Contact Us</h4>
          <p class="text-white">555-55554444</p>
          <p class="text-white">contact@tastydrink.com</p>
        </article>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-lg-4 mb-5 mx-auto px-3 px-md-5">
      <form>
        <h4 class="footer-titles text-center">Subscribe to our newsletter</h4>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Email address" />
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </form>
    </div>
    <!-- end address -->

    <div class="m-auto text-white copyright text-center bg-dark py-3">
      <div class="m-auto container d-flex justify-content-between flex-column flex-lg-row">
        <span>© 2024 All rights reserved. Designed by Marcos Meneghetti</span>
        <span>Terms & Conditions</span>
        <span>Privacy Policy</span>
      </div>
    </div>
  </div>
</footer>
