<footer class="py-3 my-4">
  <h5 class="text-center text-primary">Tasty Drink</h5>
  <h6 class="text-center text-white">Drink Store & Bar</h6>
  <div class="text-center">
    <!-- divisor -->
    <div class="divisor"></div>
    <div class="social-networks d-flex justify-content-between mx-auto my-2">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
  <div class="py-2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-primary">Our Story</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-primary">The team</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-primary">Menu Drink</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-primary">Menu Eats</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-primary">Shop</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-primary">Contact</a>
      </li>
    </ul>

    <!-- button reservation -->
    <div class="reservation text-center my-4">
      <a href="#" class="btn btn-primary">Make Reservation</a>
    </div>

    <!-- Address -->
    <div class="container m-auto">
      <div class="row text-primary">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <h5 class="footer-titles">Location</h5>
          <p>34 av. du Pont</p>
          <p>34RE3G</p>
          <p>Vancouver</p>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <h5 class="footer-titles">Contact Us</h5>
          <p>555-55554444</p>
          <p>contact@tastydrink.com</p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3">
          <form>
            <h5 class="footer-titles">Subscribe to our newsletter</h5>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address" />
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end address -->

    <div class="m-auto text-white copyright text-center bg-info py-2">
      <div class="m-auto container d-flex justify-content-between flex-column flex-lg-row">
        <span>© 2024 All rights reserved. Designed by Marcos Meneghetti</span>
        <span>Terms & Conditions</span>
        <span>Privacy Policy</span>
      </div>
    </div>
  </div>
</footer>
