<div class="py-2 bg-info">
  <div class="container d-flex justify-content-end align-items-center">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-circle-user"></i>
            John Doe
          </a>
        </li>
        <li>
          <div class="text-center">
            <a href="" class="btn btn-primary mr-5 btn-signIn">Sign In</a>
            <a href="" class="btn btn-outline-primary btn-signOut">Sign Out</a>
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container d-flex justify-content-end">
    {# <a class="navbar-brand" href="#">Navbar</a> #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    {# <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav w-100 d-flex justify-content-sm-center justify-content-sm-between px-0">
        <a class="text-center nav-link active" aria-current="page" href="#">Home</a>
        <a class="text-center nav-link" href="#">Features</a>
        <a class="text-center nav-link" href="#">Pricing</a>
        <a class="text-center nav-link" href="#">Pricing</a>
      </div>
    </div> #}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-sm-center justify-content-sm-between px-0">
        <li class="nav-item">
          <a class="nav-link active text-center" href="#">Our Story</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">The Team</a>
        </li>
        <li class="nav-item dropdown text-center">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bar</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-center" href="#">Menu Drinks</a>
            </li>
            <li>
              <a class="dropdown-item text-center" href="#">Menu Eats</a>
            </li>
          </ul>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{# line #}
<div class="border-bottom border-primary"></div>
