{% for type, messages in app.flashes %}
	<div class="container">

		<div class="mt-4 alert alert-{{ type }} alert-dismissible" role="alert">
			{{ messages|join('. ') }}
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
	</div>
{% endfor %}
