<ul class="nav flex-column account bg-dark-subtle border border-dark-subtle rounded">
  <li class="account-item text-center">
    <a href="" class="account-link">My orders</a>
  </li>
  <li class="account-item text-center">
    <a href="{{ path('account_address') }}" class="account-link">My addresses</a>
  </li>
  <li class="account-item text-center">
    <a href="{{ path('app_account_password') }}" class="account-link">Modify my password</a>
  </li>
  <li class="account-item text-center">
    <a href="{{ path('app_logout') }}" class="account-link">Logout</a>
  </li>
</ul>
