{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Member area
{% endblock %}

{% block body %}
  <div class="mt-5">
    <h1 class="main-titles text-center">Member area</h1>
  </div>
  <div class="p-0 text-end">
    <a href="{{ path('app_home') }}" class="back-to"><span><i class="fa-solid fa-angles-left"></i></span> Back to home page</a>
  </div>
  {# {% include '_partials/flash.html.twig' %} #}
  <div class="account wrapper wrapper-max mx-auto bg-light text-black contact">
    <div class="row">
      <div class="col-md-3 mb-3">
        {% include 'account/_menu.html.twig' %}
      </div>
      <div class="col-md-9 px-2 py-2 border border-dark-subtle rounded">
        <h2 class="text-center mb-4">My last orders</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
