{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - My account
{% endblock %}

{% block body %}
  <div class="mt-5">
    <h1 class="main-titles text-center">My account</h1>
  </div>
  <div class="wrapper account">
    <div class="row p-2">
      <div class="col-md-12 col-lg-3 mb-3">
        {% include 'account/_menu.html.twig' %}
      </div>
      <div class="col-md-12 col-lg-9 px-4 py-2 bg-light rounded">
        <h2 class="text-center text-black mt-3 mb-5">My last orders</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
