{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - My account
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h1 class="main-titles text-center">My account</h1>
  </div>
  <div class="p-0 text-end">
    <a href="" class="back-to"><span><i class="fa-solid fa-angles-left"></i></span> Back to products</a>
  </div>
  {% include '_partials/flash.html.twig' %}
  <div class="account wrapper wrapper-form mx-auto bg-light text-black contact p-5">
    <h2 class="text-center">Welcome {{ app.user.firstName }} in your account.</h2>

    {# cards #}
    <div class="cards-account">
      <div class="row">
        <div class="col-md-4">
          <a href="" class="account-link">
            <div class="account-item text-center">
              <i class="fa-solid fa-lock"></i>
              <span>Modify my password</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="" class="account-link">
            <div class="account-item text-center">
              <i class="fa-solid fa-location-dot"></i>
              <span>Manage my addresses</span>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="" class="account-link">
            <div class="account-item text-center">
              <i class="fa-solid fa-basket-shopping"></i>
              <span>Check my orders</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
