{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - My account
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h1 class="main-titles text-center">My account</h1>
  </div>
{% endblock %}
