{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Change password
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h1 class="main-titles text-center">Modify password</h1>
  </div>
  <div class="p-0 text-end">
    <a href="" class="back-to"><span><i class="fa-solid fa-angles-left"></i></span> Back to my account</a>
  </div>
  {% include '_partials/flash.html.twig' %}

  <div class="account wrapper wrapper-form mx-auto bg-light text-black contact p-5">{{ form(form) }}</div>
{% endblock %}
