{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Change password
{% endblock %}

{% block body %}
  <div class="mt-5">
    <h1 class="main-titles text-center">Member area</h1>
  </div>

  <div class="p-0 text-end">
    <a href="{{ path('app_account') }}" class="back-to"><span><i class="fa-solid fa-angles-left"></i></span> Back to my account</a>
  </div>
  {# {% include '_partials/flash.html.twig' %} #}
  <div class="account wrapper wrapper-max mx-auto bg-light text-black contact">
    <div class="row">
      <div class="col-md-3 mb-3">
        {% include 'account/_menu.html.twig' %}
      </div>
      <div class="col-md-9 px-2 py-2 border border-dark-subtle rounded">
        <h2 class="text-center mb-4">Modify password</h2>
        {{ form(modifyPwd) }}
      </div>
    </div>
  </div>
{% endblock %}
