{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Our products
{% endblock %}

{% block body %}
	<div class="container mt-5 js-filter">
		<div class="row">
			<div class="col-12 col-lg-3 ">
				<h3 class="products-quantity">
					Filter products</h3>
				<div class="wrapper wrapper-form bg-light text-black contact filter">
					{% include '_partials/_filter.html.twig' %}
				</div>
			</div>
			{# ------------DRINKS #}
			<div class="col-12 col-lg-9 products">
				<div class="d-flex justify-content-between align-items-center">

					<h3 class="products-quantity">{{ products|length }}
						result(s) found</h3>
					<div
						class="d-flex justify-content-end js-filter-sorting">
						{# <a href="#" class="btn btn-primary">Price</a> #}
						{%include  '_partials/_sorting.html.twig'%}
					</div>
				</div>

				{# -----------CARDS #}
				<div class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">
					<div class="row gx-4 wrapper-max d-flex justify-content-center js-filter-content">
						{% if (products|length) > 0 %}
							{% include '_partials/_products.html.twig'%}
						{% else %}
							<h3 class="text-center m-5">No Drinks Found!</h3>
						{% endif %}
					</div>
					<div class="mt-2 js-filter-pagination">{{knp_pagination_render(products)}}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
