{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Welcome
{% endblock %}

{% block content %}
  {# -----------------breadcrump #}

  {# <div class="mt-4"> #}
  <div class="text-end my-4">
    <a href="{{ path('products') }}" class="back-to">< Back to products</a>
  </div>
  {# <div class="d-flex align-items-end justify-content-between mx-0 w-100">
       <div class="p-0">
        <ul class="breadcrumb p-0">
          <li>
            <a href="#">All drinks</a>
          </li>
          <li>Beers</li>
        </ul>
      </div> 
    </div>#}
  {# </div> #}

  {# --------------------------------- PRODUCT #}
  <div class="row">
    {# ------------DRINKS quantity and sort by #}
    <div class="products">
      {# -----------CARDS #}

      <div class="row gx-4 wrapper-max d-flex justify-content-center">
        {% include '_partials/_card-product-horizontal.html.twig' %}
      </div>
    </div>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# --------------------------------- OUR SUGGESTIONS #}
  <article class="text-center mt-5">
    <h2 class="headers text-capitalize wrapper-max">Our suggestions</h2>
    <div class="col-12 products">
      {# -----------CARDS #}
      <div class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4 p-xl-5">
        <div class="row gx-4 wrapper-max d-flex justify-content-center">
          {# card #}
          <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
              {# heart #}
              <div class="heart">
                <i class="fa-regular fa-heart"></i>
              </div>

              {# image #}
              <img src="{{ asset('uploads/products/beer_blond_4.jpeg') }}" alt="" class="img-fluid card-img-top" />

              {# card body #}
              <article class="card-body bg-light">
                <h2 class="card-title text-uppercase text-start">Petrolette 33cl</h2>
                {# description quantity #}
                <div class="row">
                  <div class="col-12 col-sm-6 d-flex flex-column">
                    <div class="card-text text-start">
                      Origin: <span>France</span>
                    </div>
                    <div class="card-text text-start">
                      Category: <span>Red wine</span>
                    </div>
                    <div class="card-text text-start">
                      Year: <span>2021</span>
                    </div>
                    <div class="card-text text-start">
                      Quatity: <span>100cl</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 text-end">
                    {# quantity #}
                    <div class="d-flex flex-column align-items-end">
                      <p class="card-title-quantity m-0">Quantity</p>
                      <div class="btn-group border border-primary" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success">-</button>
                        <button type="button" class="btn btn-light bg-white disabled">1</button>
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                  </div>
                </div>

                {# price #}
                <div class="products-price my-2 text-end">
                  <span class="card-price">23,</span>90€
                </div>

                {# button add basket #}
                <div class="col-12 text-center mt-3 mb-2">
                  <a href="#" class="btn btn-primary btn-link">Add to basket</a>
                </div>
              </article>
            </div>
          </div>
          {# card #}
          <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
              {# heart #}
              <div class="heart">
                <i class="fa-regular fa-heart"></i>
              </div>

              {# image #}
              <img src="{{ asset('uploads/products/beer_blond_4.jpeg') }}" alt="" class="img-fluid card-img-top" />

              {# card body #}
              <article class="card-body bg-light">
                <h2 class="card-title text-uppercase text-start">Petrolette 33cl</h2>
                {# description quantity #}
                <div class="row">
                  <div class="col-12 col-sm-6 d-flex flex-column">
                    <div class="card-text text-start">
                      Origin: <span>France</span>
                    </div>
                    <div class="card-text text-start">
                      Category: <span>Red wine</span>
                    </div>
                    <div class="card-text text-start">
                      Year: <span>2021</span>
                    </div>
                    <div class="card-text text-start">
                      Quatity: <span>100cl</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 text-end">
                    {# quantity #}
                    <div class="d-flex flex-column align-items-end">
                      <p class="card-title-quantity m-0">Quantity</p>
                      <div class="btn-group border border-primary" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success">-</button>
                        <button type="button" class="btn btn-light bg-white disabled">1</button>
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                  </div>
                </div>

                {# price #}
                <div class="products-price my-2 text-end">
                  <span class="card-price">23,</span>90€
                </div>

                {# button add basket #}
                <div class="col-12 text-center mt-3 mb-2">
                  <a href="#" class="btn btn-primary btn-link">Add to basket</a>
                </div>
              </article>
            </div>
          </div>
          {# card #}
          <div class="col-12 col-md-6 col-xxl-4 my-2">
            <div class="card">
              {# heart #}
              <div class="heart">
                <i class="fa-regular fa-heart"></i>
              </div>

              {# image #}
              <img src="{{ asset('uploads/products/beer_blond_4.jpeg') }}" alt="" class="img-fluid card-img-top" />

              {# card body #}
              <article class="card-body bg-light">
                <h2 class="card-title text-uppercase text-start">Petrolette 33cl</h2>
                {# description quantity #}
                <div class="row">
                  <div class="col-12 col-sm-6 d-flex flex-column">
                    <div class="card-text text-start">
                      Origin: <span>France</span>
                    </div>
                    <div class="card-text text-start">
                      Category: <span>Red wine</span>
                    </div>
                    <div class="card-text text-start">
                      Year: <span>2021</span>
                    </div>
                    <div class="card-text text-start">
                      Quatity: <span>100cl</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 text-end">
                    {# quantity #}
                    <div class="d-flex flex-column align-items-end">
                      <p class="card-title-quantity m-0">Quantity</p>
                      <div class="btn-group border border-primary" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success">-</button>
                        <button type="button" class="btn btn-light bg-white disabled">1</button>
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                  </div>
                </div>

                {# price #}
                <div class="products-price my-2 text-end">
                  <span class="card-price">23,</span>90€
                </div>

                {# button add basket #}
                <div class="col-12 text-center mt-3 mb-2">
                  <a href="#" class="btn btn-primary btn-link">Add to basket</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
