{% if field.value == 1 %}
  <span class="badge text-bg-danger">Waiting for payment</span>
{% elseif field.value == 2 %}
  <span class="badge text-bg-success">Paid</span>
{% elseif field.value == 3 %}
  <span class="badge text-bg-primary">Shipped</span>
{% endif %}
