{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Reset password
{% endblock %}

{% block body %}
	<div class="mt-5">
		<h1 class="main-titles text-center">New password</h1>
	</div>
	<div class="wrapper wrapper-form col-12 col-md-10 col-lg-6 mx-auto bg-light text-black p-5">
		{{form(resetForm)}}
			<hr class="divisor-light w-75 mx-auto my-5"/>
			<p class="text-center">
				<span>Already have an account?</span>
				<a href="{{ path('app_login') }}" class="text-dark text-decoration-underline">Connect here</a>
			</p>
		</div>
	{% endblock %}
