<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block javascripts %}

    {% endblock %}
  </head>
  <body>
    {% include '_partials/_header.html.twig' %}

    <main role="main">
      {% if block('carousel') is defined %}

      {% endif %}

      <section class="mb-5">
        <div class="container">
          {% include '_partials/flash.html.twig' %}
        </div>
        {% block body %}

        {% endblock %}
      </section>
    </main>

    {% include '_partials/_footer.html.twig' %}

    {# js files #}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
    <script src="{{ asset('assets/js/scripts.js') }}" defer></script>
  </body>
</html>
