{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Email confirmed
{% endblock %}

{% block body %}
	<div class="w-75 mx-auto">
		<div class="wrapper wrapper-form bg-light text-black contact mt-5">
			<div class="text-center w-100 p-5">
				<p class="fw-normal">An email has been sent to your email address. Please check your inbox to confirm your email address.</p>
			</div>
		</div>
	</div>
{% endblock %}
