{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Sign up
{% endblock %}

{% block body %}
  <div class="mt-5">
    <h1 class="main-titles text-center">Create account</h1>
  </div>

  {# {% include '_partials/flash.html.twig' %} #}
  <div class="wrapper wrapper-form col-12 col-md-10 col-lg-6 bg-light mx-auto text-black p-lg-5">
    <div>{{ form(registerForm) }}</div>
    <p class="text-center mt-5">
      You already have an account? Please <a href="{{ path('app_login') }}" class="text-decoration-underline text-dark">Login</a>
    </p>
  </div>
{% endblock %}
